{% extends 'gestion/base.html' %}
{% block contenido %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h2 class="mb-4">Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" name="username" class="form-control" placeholder="Usuario" required>
            </div>
            <div class="mb-3">
                <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Entrar</button>
        </form>
    </div>
</div>
{% endblock %}
